html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333;
}

h1 {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #777;
  font-family: monospace, arial;
  font-size: 0.8em;
}

h2 {}

ul {}

li {}

#main-menu {
  margin-top: 10px;
}

.tab-menu {
  line-height: 30px;
  height: 30px;
  text-align: center;
}

.tab-link {
  display: inline-block;
  color: #CCC;
  background-color: #444;
  padding: 0 1em;
  border-radius: 3px;
}

.tab-link:hover {
  background-color: orangered;
}

.tab-link:active {
  box-shadow: inset 0 2px 6px #000;
}

.tab-link.active {
  color: #FFF;
  background-color: orangered;
}

.todos-left {
  margin-left: 1em;
  font-weight: bold;
}

#todos {
  width: 70%;
  margin: 50px auto;
}

#now,
#next {
  color: #CCC;
}

#todos ul {
  padding: 1px 0;
}

.todo {
  line-height: 40px;
  background-color: #393939;
  margin: 5px 0;
  padding: 0 1em;
  border-radius: 2px;
}

.todo:hover {
  background-color: #444;
}

.todo:active {
  background-color: #454545;
  width: 94%;
  height: 36px;
  line-height: 36px;
  margin: 7px auto;
  font-size: 0.9em;
}

.zero {}
